<h1>{{title}}</h1>
<p>Welcome {{name}}</p>
<p>6/24/16 This site is a continuation and improvement of the "RTS2/vmu" web project for learning how to implement the
acquisition and display of data on remote systems using socket.io for serial communications between the client and the server
    which will run serial TCP commands communicating to the VMU. </p>
<p>The next step is to implement </p>
